﻿.plainoverlay {

    position: fixed;

    top: 0px;

    left: 0px;

    display: none;

    width: 100%;

    height: 100%;

    padding: 30px;

    box-sizing: border-box;

	z-index:2000;

}

.maskoverlay {

    display: block;

    background: grey;

    background: rgba(0, 0, 0, 0.8);

}

.inlinedetails {

	height: 100%;
	background: white;

    position: relative;

    padding: 10px;

    border:5px solid;

    border-color:black;
    border-color:rgba(0,0,0,0.7);


}

.closedetail {

float:right;
    background-image: url(~/../../../Images/close.png);

    position: fixed;

    right: 20px;

    top: 20px;

    cursor: pointer;

    height: 35px;

    width: 35px;
    
    

}