﻿@model StreamingWebApplication.Models.ContentCollection.CarouselCollection

@{
	ViewBag.Title = "Tamil Short Films";
}

@section featured {
	<!--    <section class="featured">
			<div class="content-wrapper">
			</div>
		</section>-->
}
<h2 style="color: #336ca6;">Tamil Short Films</h2>

<!--
<div class="hotpicks clear-fix">
	<span class="text">HotPicks!!</span>
	<span class="item"><a href="/Collections/Drama">Highly rated</a></span>
	<span class="item"><a href="/Collections/Drama">Newly Romantic</a></span>
	<span class="item"><a href="/Collections/Drama">Mostviewed quickies</a></span>
</div>
	-->

@foreach (var carousel in @Model.Carousels)
{
	<div class="slider1">
		<a class="buttons prev" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a class="buttons next" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
		
		<span class="carouselHeader">@carousel.Title </span>

		<div class="viewport">
			<ul class="overview">
				@foreach (var carouselItem in carousel.CarouselItems)
				{
					<text>
						<li>
							<div class="float-left carouselthumbnail">
								<a href= @("/Contentdetail/" + carouselItem.ContentId)>
									<img width="180" height="150" src="@(carouselItem.ThumbnailImagePath)" style="z-index: -1;" />
									<span class="titletext">@carouselItem.Title</span>
									<span class="titlelength">@carouselItem.DurationMinSec</span>
									<div class='rating_bar rating_bar_thumbnail'>
										<div class='rating' style='width:@(carouselItem.Popularity+"%");'></div>
									</div>
								</a>
							</div>
						</li>
					</text>
				}
			</ul>
		</div>
	</div>

}



<div class="plainoverlay">
	<div class="inlinedetails">
		<img src="~/Images/loading.gif" />
	</div>
	<div class="closedetail" />
</div>

@section scripts
{
	<script src="~/Plugins/tinycarousel/jquery.tinycarousel.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.slider1').tinycarousel({
				animate: true,
				animationTime: 200
			});
		});
	</script>

	<script>
		function launchDetails(contentId) {
			var item = $(".plainoverlay");
			item.addClass("maskoverlay");

			$.get("Home/GetContentDetail/"+contentId, function (data) {
				$(".plainoverlay .inlinedetails").html(data);
			});
		}
	</script>
}
