﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Kondatam</title>
	<link href="/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="/Images/favicon.ico" rel="icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Watch wide range of Tamil Short Films categorized and curated" />
	<meta name="keywords" content="watch, tamil, short, film,films,stream,comedy,romance,love,horror,awareness,kondatam,chennai,kondattam,youtube,galata,galatta,tubetamil,tamil nadu,kurumpadam"/>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">

	<!--	    <link rel="stylesheet" href="~/Plugins/multilevelpushmenu/responsive.css">-->
	<link rel="stylesheet" href="~/Plugins/jquerytools/overlay.css" />
	<link rel="stylesheet" href="~/Plugins/tinycarousel/tinycarousel.css" />

	<link rel="stylesheet" href="~/Plugins/mmenu/jquery.mmenu.all.css">
	<link rel="stylesheet" href="~/Plugins/mmenu/jquery.mmenu.autoheight.css">
	<link rel="stylesheet" href="~/Plugins/mmenu/jquery.mmenu.dragopen.css">


	<!-- Share This -->
	<script type="text/javascript">var switchTo5x = true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>
<body>
	<header>
		<section class="content-wrapper">
			<span class="site-title"><a href="/"><img src="/Images/logo.png" /></a></span>			
			<a class="searchopen" href="#search"></a>
			<a class="menuopen" href="#menu"></a>				
		</section>
		
	</header>
	

	<div id="body">
		


		<nav id="search">
			<a href="#" class="closemenu"></a>
			<ul>
				<li>
					<h3>Search</h3>
					<span id="searchbox">
						<script>
							(function () {
								var cx = '017800835391442140699:qshm0af7uic';
								var gcse = document.createElement('script');
								gcse.type = 'text/javascript';
								gcse.async = true;
								gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
									'//cse.google.com/cse.js?cx=' + cx;
								var s = document.getElementsByTagName('script')[0];
								s.parentNode.insertBefore(gcse, s);
							})();
						</script>
						<gcse:search></gcse:search>
					</span>
				</li>

			</ul>
		</nav>

		<nav id="menu">
			<a href="#" class="closemenu"></a>
			<ul>
				<li>
					<a href="/"><i class=""></i>All</a>
				</li>
				<li>
					<a href="/Collections/Comedy"><i class=""></i>Comedy</a>
				</li>
				<li>
					<a href="/Collections/Horror"><i class=""></i>Horror</a>
				</li>
				<li>
					<a href="/Collections/Thriller"><i class=""></i>Thriller</a>
				</li>
				<li>
					<a href="/Collections/Romance"><i class=""></i>Romance</a>
				</li>
				<li>
					<a href="/Collections/Action"><i class=""></i>Action</a>
				</li>
				<li>
					<a href="/Collections/Drama"><i class=""></i>Drama</a>
				</li>
				<li>
					<a href="/Collections/Awareness"><i class=""></i>Awareness</a>
				</li>

				<!--						<li>
												<a href="#"><i class="fa fa-shopping-cart"></i>Time length</a>
												<h2><i class="fa fa-shopping-cart"></i>Time length</h2>
												<ul>
													<li>
														<a href="#"><i class="fa fa-tags"></i>< 2 mins</a>
													</li>
													<li>
														<a href="#"><i class="fa fa-tags"></i>< 10 mins</a>
													</li>
													<li>
														<a href="#"><i class="fa fa-tags"></i>< 30 mins</a>
													</li>
													<li>
														<a href="#"><i class="fa fa-tags"></i>> 30 mins</a>
													</li>
												</ul>
											</li>-->
			</ul>
		</nav>


		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>

	</div>


	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - www.kondatam.com    <a href="mailto:info@kondatam.com" target="_top">Contact Us</a></p>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)

	<script src="~/Plugins/mmenu/jquery.mmenu.min.all.js"></script>
	<script src="~/Plugins/mmenu/jquery.mmenu.autoheight.min.js"></script>
	<script src="~/Plugins/mmenu/jquery.mmenu.dragopen.min.js"></script>
	<script type="text/javascript" src="~/Plugins/mmenu/site.js"></script>
	<script src="~/Plugins/jquerytools/overlay.js"></script>

	<script type="text/javascript">stLight.options({ publisher: "08546335-d124-485e-beea-9a38b0e913bb", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
	<script>
		var options = { "publisher": "08546335-d124-485e-beea-9a38b0e913bb", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0 }, "chicklets": { "items": ["facebook", "googleplus", "twitter", "linkedin"] } };
		var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
	</script>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-62534888-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
