﻿@using StreamingWebApplication.Extensions
@model StreamingWebApplication.Models.ContentCollection.ContentDetalViewModel



@{
	ViewBag.Title = @Model.Title;
}

@section featured {

}




<div class="contentdetails">
	<div class="title">@Model.Title</div>
	<div class="player">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/@(Model.VideoLink)?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="info">
		<div class="line">Genre: @Model.KeyWords </div>
		<div class="line">Year: @Model.Year </div>
		<div class="line">
			Popularity
			<div class='rating_bar'>
				<div class='rating' style='width:@(Model.Popularity+"%");'></div>
			</div>
		</div>
	</div>
</div>
