﻿@model StreamingWebApplication.Models.ContentCollection.Collection

@{
	ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>
@foreach (var carouselItem in @Model.ContentThumbnails)
{
	<text>

		<div class="float-left carouselthumbnail">
			<a href=@("/Contentdetail/" + carouselItem.ContentId)>
				<img width="180" height="150" src="@(carouselItem.ThumbnailImagePath)" style="z-index: -1;" />
				<span class="titletext">@carouselItem.Title</span>
				<span class="titlelength">@carouselItem.DurationMinSec</span>
				<div class='rating_bar rating_bar_thumbnail'>
					<div class='rating' style='width:@(carouselItem.Popularity+"%");'></div>
				</div>
			</a>
		</div>
	</text>
}


<div class="plainoverlay">
	<div class="inlinedetails">
		<img src="~/Images/loading.gif" />
	</div>
	<div class="closedetail" />
</div>


@section scripts
{
	<script>
		function launchDetails(contentId) {
			var item = $(".plainoverlay");
			item.addClass("maskoverlay");

			$.get("/Home/GetContentDetail/" + contentId, function (data) {
				$(".plainoverlay .inlinedetails").html(data);
			});
		}
	</script>
}
