﻿.button 
{ 
  width: 150px; 
  padding: 10px; 
  background-color: #FF8C00; 
  box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);   
  font-weight:bold; 
  text-decoration:none; 
}

#cover
{ 
  position:fixed; 
  top:0; 
  left:0; 
  background:rgba(0,0,0,0.6); 
  z-index:5; 
  width:100%; 
  height:100%; 
  display:none; 
} 

#details
{ 
  height:70%; 
  width:70%; 
  margin:0 auto;
	position: fixed;
  z-index:10; 
  display:none; 
  background: azure; 
  border:5px solid #cccccc; 
  border-radius:10px; 
} 

#details:target, #details:target + #cover
{ 
	display:block; opacity:2; 
} 

.cancel 
{ 
display:block; position:absolute; top:3px; right:2px; background:rgb(245,245,245); color:black; height:30px; width:35px; font-size:30px; 
text-decoration:none; text-align:center; font-weight:bold; }