﻿@model StreamingWebApplication.Models.ContactModel

@{
	ViewBag.Title = "Contact Us";	
}

<h2>Contact Us</h2>

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	<div class="row">
		@Html.LabelFor(m => m.Name)
		@Html.EditorFor(m => m.Name)
	</div>

	<div class="row">
		@Html.LabelFor(m => m.Email)
		@Html.EditorFor(m => m.Email)
	</div>


	<div class="row">
		@Html.LabelFor(m => m.Message)
		@Html.TextAreaFor(m => m.Message)
	</div>

	<div class="row">
		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
	</div>


}
