/* Tiny Carousel */
.slider1 {
	height: 1%;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
}

	.slider1 .viewport {
		height: 180px;
		overflow: hidden;
		position: relative;
	}

	.slider1 .buttons {
		width: 18px;
		height: 18px;
		text-decoration: none;
	}

a.buttons.prev {
	margin-left: 0px;
	background-image: url('../../Images/button-previous.png');
	background-repeat: no-repeat;
	opacity: 0.5;
}

	a.buttons.prev:hover {
			background-image: url('../../Images/button-previous.png');
	background-repeat: no-repeat;
		background-color: transparent;
		opacity: 1;
	}

a.buttons.next {
	background-image: url('../../Images/button-next.png');
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 20px;
	opacity: 0.5;
}

	a.buttons.next:hover {
			background-image: url('../../Images/button-next.png');
	background-repeat: no-repeat;
	background-color: transparent;
		opacity: 1;
	}

/*
.slider1 .buttons {
    background:  black;
	opacity: 0.3;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
	
.slider1 .next  {
    right: 0;
    left: auto;
    top: 20%;
}
	*/
.slider1 .buttons:hover {
	background: black;
	opacity: 0.7;
}

.slider1 .disable {
	visibility: hidden;
}

.slider1 .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 240px;
	left: 0;
	top: 0;
}

	.slider1 .overview li {
		float: left;
		margin: 0 10px 0 0;
		padding: 0px;
		height: 180px;
		/*    border: 1px solid #dcdcdc;*/
		width: 180px;
	}
