body {
	background: #243342;
}

#pushobj {
	position: absolute;
	top: 0px;
	left: 30%;
	color: #fff;
	background: #243342;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	z-index: 1;
}

#menu {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 1001;

}
